<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moovit_Dancer"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJVU6Z11OK-VphK2CLyfAG2YqluBwehQU" />
        <activity
            android:name=".splash.Onboarding"
            android:exported="false" />
        <activity
            android:name=".HomeClassInfo"
            android:exported="false" />
        <activity
            android:name=".portfolio.Portfolio_upload"
            android:exported="false" />
        <activity
            android:name=".portfolio.Portfolio"
            android:exported="false" />
        <activity
            android:name=".HomeClassDetail"
            android:exported="false" />
        <activity
            android:name=".HomeClassList"
            android:exported="false" />
        <activity
            android:name=".MyPage.MyPage_Introduce"
            android:exported="false" />
        <activity
            android:name=".MyPage.MyPage_UploadList"
            android:exported="false" />
        <activity
            android:name=".MyPage.MyPage_OpenedClass"
            android:exported="false" />
        <activity
            android:name=".MyPage.MyPage_0"
            android:exported="false" />
        <!--
<activity
            android:name=".MyPage"
            android:exported="false" />
        -->
        <activity
            android:name=".open.Open_8"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".open.Open_7"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".open.Open_6"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".open.Open_5"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".open.Open_4"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".open.Open_3"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".open.Open_2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".open.Open_1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".open.Open_0"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".splash.Splash_2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".splash.Splash_1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".splash.Splash_0"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->


            <!-- <meta-data -->
            <!-- android:name="android.app.lib_name" -->
            <!-- android:value="" /> -->
        </activity>
    </application>

</manifest>